<div class="container">
  <div class="intro col-6">
    <h1>The Janrain Experiment</h1>
    <h3>Watch your name appear, magically >>></h3>
  </div>
  <div class="janrain col-6">
    <p>All you need to do is simply log in using Facebook or Google+ below!</p>
    <div id="janrainEngageEmbed"></div>
  </div>
</div>
