<div class="container">
  <div class="intro col-6">
    <p>The Janrain Experiment</p>
  </div>
  <div class="janrain col-6">
    <h3>Want to your see name appear, magically?<br>
      All you need to do, is follow the box below.</h3>
    <div id="janrainEngageEmbed"></div>
  </div>
</div>
